@charset "UTF-8";

@import url('https://fonts.bunny.net/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@import 'datatables.net-dt/css/jquery.dataTables.css';
@import 'datatables.net-responsive-dt/css/responsive.dataTables.css';

@import 'toastr/toastr.scss';

@import 'daterangepicker/daterangepicker.css';

@import 'select2/dist/css/select2.css';

@import 'jstree/dist/themes/default/style.min.css';

html, body {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    font-family: 'Source Sans Pro', system-ui, sans-serif;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    height: 100vh;
    margin: 0;
}

#page-content-wrapper {
    background: #f8f9fa;
    min-width: 100vw
}

#sidebar-wrapper {
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    -webkit-transition: margin .25s ease-out;
    background-color: #7e8ea1 !important;
    margin-left: -15rem;
    min-height: 100vh;
    transition: margin .25s ease-out
}

#sidebar-wrapper .list-group {
    width: 17rem
}

#sidebar-wrapper .sidebar-heading {
    font-size: 1.2rem;
    padding: .875rem 1.25rem
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0
}

.alert ul {
    margin-bottom: 0 !important
}

.bg-grad-sidebar {
    background-image: linear-gradient(0deg, #7e8ea1, #3c4655)
}

.container {
    vertical-align: middle
}

.content a {
    color: #6cb2eb;
    text-decoration: none
}

.content pre, .content pre[class*=language-] {
    border-radius: 6px;
    line-height: 1.4;
    overflow: auto;
    padding: 1rem
}

.content:not(.custom) {
    margin: 0 auto;
    max-width: 890px;
    padding: 2rem 2.5rem
}

.dropdown-toggle:after {
    vertical-align: .2em !important
}

.form-control {
    height: 100% !important
}

.input-group .select2-container, .form-group .select2-container {
    display: table !important;
    float: left !important;
    margin-bottom: 0 !important;
    position: relative !important;
    table-layout: fixed !important;
    width: 100% !important;
    z-index: 2
}

.list-group, .list-group-item {
    background-color: transparent !important;
    border: 1px solid transparent
}

.list-group-item {
    padding: .75rem 2rem !important;
    font-size: 1rem !important
}

.navbar {
    font-family: 'Source Sans Pro', system-ui, sans-serif;
    padding: .6rem 1rem !important
}

.navbar .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #777 !important
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px !important;
    padding-left: .9rem !important;
    padding-right: .9rem !important
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: .93rem !important
}

.sidebar-heading {
    background-color: #000
}

.sidebar-subheading {
    color: #c8c8c8 !important;
    font-family: 'Source Sans Pro', system-ui, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-left: 2rem;
    margin-top: 1rem;
    text-transform: uppercase !important
}

.title {
    font-size: 96px
}

a.navbar-brand {
    color: #525252 !important;
    font-weight: 500;
    text-decoration: none
}

b, body.strong, strong {
    font-weight: 700
}

div.card-footer a.btn.btn-secondary {
    color: #fff !important
}

div[class*=language-] {
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #f8fafc;
    border-radius: 6px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .05)
}

div.dt-buttons {
    margin-top: 7px !important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.card-ext {
    border: 0 !important;
    box-shadow: 0 0.125rem 0.45rem rgba(0, 0, 0, 0.075) !important;
}

.footer {
    font-size: 13px;
    color: #59626D;
}

.footer ul {
    font-size: .92rem;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding: var(--spacing-10) var(--spacing-4);
    background: var(--color-gray-8);
    color: var(--color-muted);
}

*, *::before, *::after {
    box-sizing: border-box;
}

#datatable-eo {
    font-size: .92rem !important;
    color: #333333 !important;
}

.table thead th {
    background-color: #f9fbfd;
    color: #95aac9;
    font-size: .80rem !important;
    font-weight: 700;
    letter-spacing: .08em;
    text-transform: uppercase;
    border-bottom: 1px solid #dee2e6 !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 6px 8px !important;
}

.dataTables_info {
    font-size: .95rem;
    font-style: oblique;
    font-weight: 100;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02) !important;
}

.card-header {
    border-bottom: 0 !important;
}

.header-text {
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #6c757d !important;
}

#reportrange {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #ddd;
}

.img-person {
    border-radius: 4px;
}

.bd-footer a {
    font-weight: 600;
    color: #495057;
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.bd-footer-links li {
    display: inline-block;
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

select {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    margin-left: 2px !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6 !important;
}

.section-title {
    font-size: 14px;
    font-weight: 700 !important;
    color: #343a40 !important;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
}

.badge-dashboard {
    font-size: 95% !important;
    background-color: #a9a5a5;
}


select#domainq.custom-select {
    cursor: pointer !important;
    padding: 5px 10px !important;
    border: 1px solid #ccc !important;
    width: 100%;
    background-color: #ddd !important;
}

.esccor-version {
    color: #ced4da !important;
}

table.dataTable thead .sorting_asc {
    background-image: none !important;
}

table.dataTable thead .sorting {
    background-image: none !important;
}

table.dataTable thead .sorting_desc {
    background-image: none !important;
}

.table td, table th {
    padding-top: .45rem !important;
    padding-bottom: .45rem !important;
    padding-left: 1rem !important;
    vertical-align: middle !important;
}

table.dataTable tbody td {
    word-break: break-word !important;
    vertical-align: top !important;
}
